//@import "../cafe-creme/application";

// Back to standard CSS for the café (since 1.5.1)
@import "application";

// Café overload
// (based on Stylish Mastodon custom styles from Mastodon White from Aneta A and Mastodon Flex wide from SkyzohKey)
.emojione {
    -webkit-filter: drop-shadow(0 0 1px black);
    filter: drop-shadow(0 0 1px black);
}
a span {
    text-decoration: none!important;
}
.status__content a:hover {
    border-bottom: 1px solid #000;
    text-decoration: none;
}
.status__content a {
    border-bottom: 1px dotted #000;
}
a.status__content__spoiler-link {
    background-color: #fff!important;
    border-bottom: none!important;
    color: #323232!important;
    margin: 3px 2px;
    padding-top: 3px!important;
    text-align: center;
}
a.status__content__spoiler-link:hover {
    -moz-box-shadow: 0 0 1px 2px rgba(0, 0, 0, .33);
    -webkit-box-shadow: 0 0 1px 2px rgba(0, 0, 0, .33);
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, .33);
}
.column-link,
.drawer__tab,
.tabs-bar__link,
.sidebar a:not(.selected),
.column div:not(.status-list__unread-indicator):not(.notifications__unread-indicator):not(.status__video-player-spoiler):not(.spoiler-button):not(.status__video-player-expand):not(.status__video-player-mute):not(.video-player):not(.video-player__buttons):not(.video-player__seek):not(.video-player__controls),
.drawer__inner {
    background-color: #f0f0f0!important;
}
.scrollable div {
    border-bottom: none!important;
}
.counter-label,
.bio .account__header__content,
.bio .account__header__content .ellipsis,
.next_page,
.footer,
.footer a,
.form-footer a,
input.file .block-button {
    color: #fff!important;
}
.admin-wrapper .simple_form {
    background: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
}
.compose-form__buttons {
    background: white!important;
    box-shadow: none!important;
}
::-webkit-scrollbar-track:hover {
    background: rgba(0, 0, 0, 0.1);
}
.reply-indicator__content {
    white-space: normal;
}
.status__content p,
.reply-indicator__content p {
    margin-bottom: 5px;
}
.notification-bar-message,
.notification-bar-title,
.follow-prompt,
.about-body div,
.about-body a,
.pagination .prev,
.pagination .next {
    color: #FFF!important;
}
.muted .status__content p,
.muted .status__content a,
.drawer__inner>div>div>strong,
.account__header span,
div,
.detailed-status__display-name strong,
.setting-text:focus,
.setting-text:active,
.navigation-bar__profile-account{
    color: #000!important;
}
.status__content,
.display-name,
.status__display-name strong,
.account__display-name strong,
a,
.notification,
label span,
.column-settings__section>span,
.status-card p,
.status-card strong,
.getting-started p,
.admin-wrapper .simple_form input,
.admin-wrapper .simple_form textarea,
.admin-wrapper .simple_form label,
.admin-wrapper .content p,
.admin-wrapper .content strong,
.admin .content h2 {
    color: #323232!important;
}
.sidebar a.selected,
.react-toggle .react-toggle-track,
.react-toggle-track div {
    background-color: #2b90d9!important;
}
.sidebar a:hover,
.react-autosuggest__container input,
.app-holder>div,
.admin-wrapper,
.sidebar-wrapper,
.admin-wrapper .sidebar-wrapper ul ul {
    background-color: #fff!important;
}
.form-footer [href*="/settings/preferences"],
.about-body a {
    background: none!important;
}
input.search__input,
input.search__input:focus,
.flash-message,
.load-more:hover,
.column,
.landing-strip,
.search-results__header {
    background: #f0f0f0;
}
.search__icon .fa,
.search__input,
.account__action-bar__tab span {
    color: #000;
}
@media (min-width: 800px) {
    .drawer, .column {
        -webkit-flex: 1 !important;
        -ms-flex: 1 !important;
        flex: 1 !important;
        width: auto !important;
    }
}
@media screen and (max-width: 1024px) {
    .column:last-child, .drawer:last-child {
        margin-right: 0;
    }
    .column:first-child,
    .drawer:first-child {
        margin-left: 0;
    }
}
@media (min-width: 1025px) {
    .column {
        margin-bottom: 10px;
        margin-right: 5px;
        margin-top: 10px;
    }
}
@media screen and (min-width: 1900px) {
    .column, .drawer {
        margin-top: 2vh;
        padding-bottom: 0px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 0px;
    }
}
.table>tbody>tr:nth-child(odd)>td,
.table>tbody>tr:nth-child(odd)>th {
    background: #2b90d9;
    color: white;
}
.media-gallery__item-thumbnail {
    background-size: auto;
    text-align:center;
}
.media-gallery__item-thumbnail img {
  object-fit:scale-down;

}
.column-header{
    background: #97CE68;
}
.status{
    border-bottom:none;
}
.column-header__button, .column-header__back-button,.column-back-button{
  color: #323232;
    background: #97CE68;
}
.status.status-direct{
    background: #f0f0f0;
}
.p-author a{
    color: white !important;
}
.icon-button.overlayed i
{
       color:white !important;
}
.video-player div
{
    background: rgba(0,0,0,0.5);
}
.video-player.inline video{
    object-fit: contain;
}
.media-gallery__item-thumbnail img {
    object-fit: contain;
}
.media-gallery__item-gifv-thumbnail {
   object-fit: contain;
}
div.video-player.inline{
    margin-left: auto;
    margin-right: auto;
}
.ui {
    background: white;
}
